* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;

}

body {
    
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);

}

.video {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;

}

iframe {
    border-radius: 10px 10px 5px 5px;
}

img {
    max-width: 100%;
    border-radius: 30px;
}